<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/all-articles" method="post">
    <label for="body">title</label>
    <input type="text" name="title">

    <label for="body"></label>
    <input type="text" name="summary">
    <textarea name="body"></textarea>
    <button type="submit">submit</button>
</form>
<br><br><br><br><br><br><br>

<% arrayof.forEach(item => {%>
    <article>
        <h1><%= item.title%></h1>
        <h3><%= item.summary %> </h3>
        <p><%= item.body %> </p>
    </article>
<% }); %>
    
</body>
</html>